@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados e fontes */
body {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

/* Transição suave para mudanças de cor */
body, .bg-transition {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Estilos do Cartão 3D Interativo */
.card-container {
    perspective: 2000px;
    width: 280px;
    height: 280px;
    cursor: grab;
    transition: transform 0.3s ease;
}

.card-container:active {
    cursor: grabbing;
}

.card-container:hover {
    transform: scale(1.05); /* Expande o cartão no hover/toque */
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    transform-style: preserve-3d;
    border-radius: 1.5rem;
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1.5rem;
    object-fit: cover;
    overflow: hidden;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.15);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.card-back {
    transform: rotateY(180deg);
}

/* Pausa a animação do carrossel no hover ou ao arrastar */
.scroller:hover .animate-infinite-scroll,
.scroller[data-dragging="true"] .animate-infinite-scroll {
    animation-play-state: paused;
}
